/* Override some defaults */
html, body
{
  background-color: #eee;
}

body
{
  padding-top: 40px;
}

input[type="text"]
{
  margin-bottom: 0;
  margin-left: 5px;
}

label
{
  display: inline-block;
  margin-left: 10px;
}

.navbar-absolute-top
{
  top: 0px;
}

.navbar .brand
{
  font-size: 16px;
}

article .container
{
  width: 90%;
}

article .container > .content
{
  min-height: 85%;
  text-align: center;
}

.container
{
  width: 300px;
}

/* The white background content wrapper */
.container > .content
{
  position: relative;
  top: 20px;
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form
{
  margin-left: 65px;
}

legend
{
  margin-right: -50px;
  font-weight: bold;
  color: #404040;
}